<div class="container">
    <h1>Configuraciones</h1>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <mat-list-item>
            <mat-icon mat-list-icon>settings</mat-icon>
            <a mat-list-item [routerLink]="['/solarium/feriados']"> Feriados </a>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>settings</mat-icon>
            <a mat-list-item [routerLink]="['/solarium/horarios']"> Horarios </a>
        </mat-list-item>
    </mat-nav-list>
</div>