<div class="container">
    <h1>
        <span *ngIf="accion == 'nuevo'">Nueva</span><span *ngIf="accion == 'editar'">Editar</span> máquina
        <span class="pull-right">
            <button mat-raised-button [routerLink]="['/solarium/maquinas']">
                <span class="material-icons">
                    arrow_back
                </span>
                Volver
            </button>
        </span>
    </h1>
    <mat-divider></mat-divider>
    <div class="mt-15">

        <form [formGroup]="form" autocomplete="off">

            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" />
                <mat-error *ngIf="form.controls.nombre.hasError('required')">
                    Por favor ingrese un nombre
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion"></textarea>
                <mat-error *ngIf="form.controls.descripcion.hasError('required')">
                    Por favor ingrese una descripción
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de compra</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha_compra">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.controls.fecha_compra.hasError('required')">
                    Por favor ingrese una fecha
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cantidad de usos</mat-label>
                <input matInput formControlName="cantidad_usos" type="number" />
                <mat-error *ngIf="form.controls.cantidad_usos.hasError('required')">
                    Por favor ingrese la cantidad de usos
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="save()" *ngIf="accion == 'nuevo'" class="pull-right">
                Guardar
            </button>
            <button mat-raised-button color="primary" (click)="update()" *ngIf="accion == 'editar'" class="pull-right">
                Actualizar
            </button>
        </form>

    </div>
</div>