form {
  width: 40%;
}

mat-form-field {
  display: block;
}

.horario-container {
  display: inline-flex;
}

.horario-item {
  align-self: center;
  margin-right: 16px;
}

.horario-nombre {
  width: 60px;
}

.disable {
  color: lightgray;
}
