<div class="container">
    <h1>Informes</h1>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <a mat-list-item [routerLink]="['/solarium/informe-turnos-servicios']"> Cantidad de turnos por servicio </a>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListIcon>folder</mat-icon>
            <a mat-list-item [routerLink]="['/solarium/informe-uso-maquinas']"> Cantidad de usos de máquinas </a>
        </mat-list-item>
    </mat-nav-list>
</div>