table {
  width: 100%;
  margin-top: 5px;
}

button {
  margin-right: 5px;
}

.green {
  color: green;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

.header {
  line-height: 36px;
  margin-bottom: 10px;
}
